body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
}
.header {
    margin-top: 2rem;
    font-size: 2rem;
    color: #0047FF;
    text-align: center;
    & ~ a {
        color: #697696;
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: #0047FF;
        }
    }
}
