<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/x-icon" href="{{webRoot}}/assets/img/favicon.svg" />
  <link rel="stylesheet" href="{{webRoot}}/assets/scss/style.scss" />
  <title>{{subTitle}} ‧ {{title}}</title>
</head>