<section class="intro">
    <img class="logo" src="{{webRoot}}/assets/img/favicon.svg" alt="Logo" />
    <h1 class="header">Vite Template Project</h1>
    <ul class="nav">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="other.html">Other</a>
        </li>
    </ul>
    <p>This repository will help create a boilerplate vanilla javascript + scss project using Vite. Also Handlebars included.</p>
    <pre class="using">    npm install
    npm run dev</pre>
</section>